<section class="newfamform">
  <h1>New Family</h1>

  <div class="houseicon">
    <i class="fa fa-home"></i>
  </div>

  <p>
    What's your last name? We need a name for your FamilyRoom.
  </p>

  <%= form_tag(families_url, method: 'post') do %>
    <div class="newfaminput">
      <%= label_tag :last_Name %><br />
      <%= text_field_tag :name %>
    </div>

    <div class="newfambutton">
      <%= submit_tag "Create Room!" %>
    </div>
  <% end %>
</section>
