<br>
<h2>FamilyRoom was designed to help immediate families stay better connected.</h2>
<br>
<h3>Share messages, pictures, and video</h3>

<h3>Chat in real time with your family members</h3>

<h3>Coordinate schedules on a shared calendar</h3>
