<br>
<h2>FamilyRoom is the online meeting place for immediate families.</h2>
<br>
<h3>Share messages, pictures, and video</h3>

<h3>Chat in real time</h3>

<h3>Coordinate schedules on a shared calendar</h3>
