<div class="jumbotron">

<h1>
  Welcome To FamilyRoom.
</h1>

<h3>
  Stay Connected To Your Family Whenever, Wherever.
</h3>

<br>
<br>

<p>
  <%= link_to "Create A FamilyRoom!", '#new_member_url', class: "fancybox btn btn-primary btn-lg"%>

  <div id="new_member_url" style="display:none">
    <h3>Create Account</h3>
      <%= render 'members/form' %>
    </div>
    </p>

</div>
