<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hey <%= @first_name %>, you have been invited to FamilyRoom!</h3>

    <p>Click on the link below to sign in to join your family:</p>
    <a href="http://localhost:3000/members/new?family_id=<%=@family_id %>">Sign Up!</a>


  </body>
</html>
