/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*  border: 2px solid black;*/


.family_title {
  color: #428bca;
  font-weight: bold;
  margin-bottom: 30px;
}

.current_member {
  float: right;
}

.family_members {
  float: right;
  text-align: center;
  height: 600px;
  border: 1px solid #AAA;
  border-radius: 20px;
  padding: 10px 20px 20px 10px;
  background: #ececec;
}

.family_messages {
  float: left;
  text-align: center;
  height: 600px;
  width: 400px;
  border: 1px solid #AAA;
  border-radius: 20px;
  padding: 10px 20px 20px 10px;
  background: #ececec;
}

.title {
  float: left;
  text-shadow: 1px 1px 1px #888888;
}

.create_room {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #888888;
}

a:hover {
  text-decoration: none;
  color: #00FF00
}

html, body {
height: 100%;
}

.container {
min-height: 100%;
margin-bottom: -330px;
position: relative;
}

.container1 {
height: 33px;
position: relative;
padding-bottom: 20px;
}

.clearfooter {
height: 330px;
clear: both;
}

/*header {
  padding: 6px 20px 6px 20px;
  margin: 0px 10px 0px 10px;
}*/

.nav {
  background: #c2c2c2;
  box-shadow: 2px 2px 2px #888888;
}

.greeting {
  float: right;
}

.login {
  text-align: right;
  padding-right: 20px;
  font-size: 24px;
  text-shadow: 1px 1px 1px #888888;
}
