/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */

a:hover {
  text-decoration: none;
  color: #17d6ac;
}

.navbar {
  display: inline-block;
}

.current_member {
  float: right;
}

.family_members {
  float: left;
  font-size: 24px;
  text-align: center;
  height: 600px;
  border: 1px solid #AAA;
  padding: 10px 20px 20px 10px;
}

.family_messages {
  float: left;
  text-align: center;
  height: 600px;
  width: 400px;
  border: 1px solid #AAA;
  padding: 10px 20px 20px 10px;
  margin-left: 40px;
}

html, body {
height: 100%;
}

.wrap {
  min-height: 99%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

footer {
  height: 50px;
}

.greeting {
  float: right;
}

header {
  border-bottom: 1px solid black;
}

.title {
  display: inline;
  font-size: 55px;
}

.login {
  text-align: center;
  display: inline;
  float: right;
  font-size: 20px;
}
