// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'library';

$titlefont: 'Josefin Sans', sans-serif;;
$bodyfont: 'Lato';
$bodyred: #E74C3C;
$darkbodyred: #d62c1a;
$titleblue: #2C3E50;
$darkblue: #2980B9;
$bgblue: #3498DB;
$bglightblue: #eaf4fb;
$borderblue: #75b9e7;

* {
    background-repeat: no-repeat;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border-top: 12px solid $bodyred;
}

section {
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  height: 125px;

  .centerwrap {
  width: 85%;
  height: 100px;
  margin: 0 auto;

    .title {
      font-size: 55px;
      font-weight: 100;
      font-family: $titlefont;
      display: inline-block;
      width: 85%;

      a {
        text-decoration: none;
        color: $titleblue;
        }
      }

    .login {
      font-size: 30px;
      font-family: $titlefont;
      display: inline-block;

      a {
        text-decoration: none;
        color: $titleblue;

        &:hover {
          font-weight: bold;

        }
      }
    }
  }
}

#login {
  font-family: $titlefont;
  color: $titleblue;

  h1 {
    font-weight: 300;
    text-align: center;
  }

  label {
    margin-top: 10px;
  }
}


.upperhome {
  width: 100%;
  height: 700px;
  text-align: center;
  vertical-align: bottom;
  color: white;
  font-family: $titlefont;
  background-color: $bgblue;
  border-bottom: 1px solid $titleblue;

  .welcome {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-size: 70px;
      font-weight: 600;
      margin: 0;
      padding-top: 30px;
    }

    h3 {
      font-size: 50px;
      font-weight: 300;

      .line {
        width: 70px;
        height: 2px;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  button {
    margin-top: 60px;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 4px;
    border: none;
    font-family: $titlefont;
    font-weight: 300;
    color: white;
    font-size: 32px;
    background: $bodyred;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: $darkbodyred;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  i {
    margin-top: 154px;
    font-size: 80px;
    font-weight: 100;
    color: white;
  }
}

.imac {
  height: 700px;
  background-image: url(/assets/iMac.jpg);
  background-size: 1000px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;


}

.intro {
  width: 100%;
  color: $titleblue;
  font-family: $titlefont;
    border-top: 12px solid $bodyred;

  .slogan {
    font-size: 50px;
    height: 400px;
    background-color: $bglightblue;
    display: block;
    padding-top: 80px;
    text-align: center;

    h3 {
      font-size: 100px;
      font-weight: 300;
      margin: 0 auto;
      color:$bodyred;
     }

    p {
      width: 70%;
      margin: 0 auto;
      padding-top: 50px;
      letter-spacing: -.05em;
    }
  }
}

.whyfamilyroom {
  width: 100%;
  font-family: $titlefont;
  color: $titleblue;

  div {
    font-size: 32px;
  }

  h3 {
      width: 70%;
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 40px;
      font-weight: 600;
      text-align: center;
      font-size: 55px;
    }

  .what {
    height: 400px;
    padding-top: 40px;

    p {
      width: 70%;
      margin: 0 auto;
      line-height: 1.1em;
    }
    .public_simple {
      text-align: center;
      font-weight: 600;
      padding-top: 22px;
    }
  }
}

.about {
  height: 400px;
  background-color: $bglightblue;
  color: $titleblue;
  font-family: $titlefont;
  text-align: center;

  .icons {
    width: 75%;
    height: 100%;
    margin: 0 auto;

    div {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      margin-top: 40px;

      i {
        font-size: 175px;
      }

      h3 {
        font-size: 45px;
        font-weight: 300;
      }
    }
  }
}

.target {
  width: 100%;
  font-family: $titlefont;
  color: $titleblue;

  div {
    font-size: 32px;
  }

  h3 {
      width: 70%;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      font-weight: 600;
      text-align: center;
      font-size: 55px;
    }
    .who {
    height: 400px;
    padding-top: 40px;
    background-color: white;

    p {
      width: 70%;
      margin: 0 auto;
      line-height: 1.1em;
    }
  }
}

.stayclose {
  height: 300px;
  width: 100%;

  h1 {
    width: 70%;
    font-family: $titlefont;
    color: $titleblue;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
    padding-top: 90px;
    margin: 0 auto;
    letter-spacing: -.04em;
  }
}

.new_member_url {
  width: 100%;
  height: 800px;
  text-align: center;
  background-color: $bodyred;
  font-family: $titlefont;
  color: white;

  .signup {
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;

    h3 {
      font-size: 75px;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 1em;
    }

    div {
      font-size: 40px;
      margin-top: .8em;

      label {
        font-weight: 300;
      }

      input {
        border-radius: 4px;
        // -webkit-transition: all 0.2s ease;
        // -moz-transition: all 0.2s ease;
        // -ms-transition: all 0.2s ease;
        // transition: all 0.2s ease;
        background-color: white;
        border: none;
        text-align: center;
        color: $darkblue;
        font-size: 24px;
        font-weight: 600;
        padding: 5px 5px;
        width: 400px;
      }
    }

    .new_member_button {
      margin-top: 50px;
      font-weight: 600;

      input {
        background: $bgblue;
        color: white;
        font-size: 32px;

        &:hover {
          background: #217dbb;
        }
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .whyfamilyroom {
    .what {
      p {
        width: 65%;
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .intro {
    .slogan {
      h3 {
        font-size: 90px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .imac {
    background-size: 900px;
  }

  header {
    .centerwrap {
      .title {
        width: 80%;
      }
    }
  }

  .intro {
    .slogan {
      h3 {
        font-size: 80px;
      }
      p {
        width: 90%;
      }
    }
  }
}


@media screen and (max-width: 790px) {
  .upperhome {
    .welcome {
      h1 {
        font-size: 65px;
      }
      h3 {
        font-size: 45px;
      }
    }
  }
  .imac {
    background-size: 800px;
  }
  .intro {
    .slogan {
      h3 {
        font-size: 75px;
      }
    }
  }
}

@media screen and (max-width: 735px) {
  .upperhome {
    .welcome {
      h1 {
        font-size: 60px;
      }
      h3 {
        font-size: 40px;
      }
    }
  }
  .imac {
    background-size: 700px;
  }
  .intro {
    .slogan {
      h3 {
        font-size: 70px;
      }
    }
  }
}

@media screen and (max-width: 685px) {
  .upperhome {
    .welcome {
      h1 {
        font-size: 55px;
      }
      h3 {
        font-size: 35px;
      }
    }
  }

  header {
    .centerwrap {
      .title {
        width: 75%;
      }
    }
  }

  .intro {
    .slogan {
      h3 {
        font-size: 60px;
      }
      p {
        font-size: 45px;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .upperhome {
    .welcome {
      padding-top: 75px;
      h1 {
        font-size: 50px;
      }
      h3 {
        font-size: 30px;
      }
    }
  }

  .imac {
    background-size: 600px;
  }
}

@media screen and (max-width: 580px) {
  .upperhome {
    .welcome {
      h1 {
        font-size: 45px;
      }
      h3 {
        font-size: 30px;
        .line {
          display: none;
        }
      }
    }
  }

  .intro {
    .slogan {
      h3 {
        font-size: 50px;
      }
      p {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .upperhome {
    .welcome {
      h1 {
        font-size: 50px;
      }
      h3 {
        font-size: 30px;
      }
    }
  }

  header {
    .centerwrap {
      .login {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .imac {
    background-size: 500px;
  }
}

@media screen and (max-width: 485px) {
  .intro {
    .slogan {
      h3 {
        font-size: 45px;
      }
      p {
        font-size: 30px;
      }
    }
  }
}

// iphone
@media screen and (max-width: 320px) {
  .upperhome {
    .welcome {
      h1 {
        font-size: 30px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }

  header {
    .centerwrap {
      .login {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .imac {
    background-size: 200px;
  }
}
